<div class="row">
  <div class="col-md-6">
    <%= form.field_container :title, class: ['form-group'] do %>
      <%= form.label :title, Spree.t(:title) %> <span class="required">*</span><br />
      <%= form.text_field :title, class: 'form-control', required: true %>
      <%= form.error_message_on :title %>
    <% end %>

    <%= form.field_container :permalink, class: ['form-group'] do %>
      <%= form.label :permalink, Spree.t(:permalink) %> <span class="required">*</span><br />
      <%= form.text_field :permalink, class: 'form-control', required: true %>
      <%= form.error_message_on :permalink %>
    <% end %>

    <%= form.field_container :category_list, class: ['form-group'] do %>
      <%= form.label :category_list, Spree.t(:category_list)  %><br />
      <%= form.text_field :category_list, value: form.object.category_list.join(', '), class: 'form-control' %>
    <% end %>

    <%= form.field_container :tag_list, class: ['form-group'] do %>
      <%= form.label :tag_list, Spree.t(:tag_list) %><br />
      <%= form.text_field :tag_list, value: form.object.tag_list.join(', '), class: 'form-control' %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= form.field_container :author_id, class: ['form-group'] do %>
      <%= form.label :author_id, Spree.t(:author_id) %><br />
      <%= form.select :author_id, Spree.user_class.joins(:spree_roles).where("#{Spree::Role.table_name}.name" => "blogger").collect {|u| [u.email, u.id]}, {:include_blank => true}, :class => 'select2' %>
    <% end %>

    <%= form.field_container :published_at, class: ['form-group'] do %>
      <%= form.label :published_at, Spree.t(:published_at) %><br />
      <%= form.error_message_on :published_at %>
      <% if @blog_entry.published_at? %>
        <% published_at = l(@blog_entry.published_at, :format => Spree.t('date_picker.format')) %>
      <% else %>
        <% published_at = nil %>
      <% end %>
      <%= form.text_field :published_at, value: published_at, class: 'datepicker form-control' %>
    <% end %>

    <%= form.field_container :visible, class: ['form-group'] do %>
      <%= form.label :visible, Spree.t(:visible) %><br />
      <%= form.check_box :visible, class: 'form-control' %>
      <%= form.error_message_on :visible %>
    <% end %>

    <%= field_set_tag Spree.t(:blog_entry_featured_image) do %>
      <%- if @blog_entry.image.present? %>
        <%= image_tag(blog_featured_image_url(@blog_entry), class: 'blog_image_thumbnail img-fluid') %>
      <% end %>

      <%= form.file_field :image %>
    <% end %>
  </div>
</div>

<div class="row">
  <dir class="col-12">
    <%= form.field_container :body, class: ['form-group'] do %>
      <%= form.label :body %> <span class="required">*</span>
      <br />
      <%= form.text_area :body, { cols: 60, rows: 4, class: 'form-control', :id => 'blog_entry_body' } %>
      <%= form.error_message_on :body %>
    <% end %>

    <%= form.field_container :summary, class: ['form-group'] do %>
      <%= form.label :summary %>
      <br />
      <%= form.text_area :summary, { cols: 60, rows: 4, class: 'form-control', id: 'blog_entry_summary' } %>
      <%= form.error_message_on :summary %>
    <% end %>
  </div>
</div>
