<div class="col-lg-4">
  <a class="card card-blog card-margin-b" href="<%= blog_entry_permalink(blog_entry) %>">
    <%= image_tag(blog_featured_image_url(blog_entry), class: 'blog_image_thumbnail') %>
    <div class="card-title"><%= blog_entry.title %></div>
    <div class="card-description"><%= truncate(blog_entry.summary, length: 180) %></div>
    <div class="card-info">
      <span><%= blog_entry.published_at.strftime('%d %B') %></span>&nbsp;•&nbsp;
      <span><%= blog_entry.body.length / 1000 %> min read</span>
    </div>
    <div>
      <span class="link read-more">Read more</span>
    </div>
  </a>
</div>
